@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

/* home page */

.featurette-divider {
  padding-top: 40px;
}

.title {
  font-size: 2.3em;
  font-weight: bold;
}

/* show page */
.show-title {
  font-size: 2.3em;
  font-weight: bold;
}

.show-buttons {
  padding-left: 10px;
  padding-bottom: 20px;
}

/* comments */
.comment-count {
  font-size: 1.9em;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 30px;
}

.comment-header {
  font-size: 1.9em;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.comment {
  padding-bottom: 20px;
}
.comment-body {
  font-size: 1.4em;
}